<% if flash[:notice] %>
  <div class="alert alert-info alert-dismissable fade show" role="alert">
   <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger alert-dismissable fade show" role="alert">
   <%= flash[:alert] %>
  </div>
<% end %>
